<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/static/scss/all.css">
    <title>Document</title>
</head>

<body>

    <!-- header -->

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/app/static/images/logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cars</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Booking</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                My Account
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">My Profile</a></li>
                                <li><a class="dropdown-item" href="#">My Orders</a></li>
                                <li><a class="dropdown-item" href="#">My Favorite Cars</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Pages
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Login</a></li>
                                <li><a class="dropdown-item" href="#">Register</a></li>
                                <li><a class="dropdown-item" href="#">Page 404</a></li>
                            </ul>
                        </li>

                    </ul>

                </div>
                <form class="d-flex">
                    <button type="button" class="btn btn-primary">Login</button>
                </form>
            </div>
        </nav>
    </header>

    <!-- header end -->

    <!-- contain -->
    <section>
        <div class="container">
            <div class="row pt-3 ">
                <div class="col-lg-6">
                    <h4>Plan your trip now</h4>
                    <h1>Explore the world with comfortable car</h1>
                    <p>Embark on unforgettable adventures and discover the world in unparalleled comfort and
                        style with our fleet of exceptionally comfortable cars.</p>
                    <div class="row ">
                        <div class="col-lg-4 m-auto ">
                            <button type="button" class="btn btn-primary" style="width: 135px;">Get the App</button>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="/app/static/images/misc/car-2.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-5 ">
            <div class="row text-center">
                <div class="col-lg-6 m-auto">
                    <h2>Our Vehicle Fleet</h2>
                    <p>Driving your dreams to reality with an exquisite fleet of versatile vehicles for unforgettable
                        journeys.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row ">
            <div class="col-md-4" style="width: 408px;">
                <div class="card">
                    <img src="/app/static/images/cars/jeep-renegade.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Jeep Renegade</p>
                        <hr>
                        <p>Daily rate from </p>
                        <span>$265</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="width: 408px;">
                <div class="card">
                    <img src="/app/static/images/cars/jeep-renegade.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Jeep Renegade</p>
                        <hr>
                        <p>Daily rate from </p>
                        <span>$265</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="width: 408px;">
                <div class="card">
                    <img src="/app/static/images/cars/jeep-renegade.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Jeep Renegade</p>
                        <hr>
                        <p>Daily rate from </p>
                        <span>$265</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-6">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <img src="/app/static/images/background/5.jpg" class="img-fluid" alt="">
                </div>
                <div class=" col-lg-6 m-auto ">
                    <h2>Only Quality For Clients</h2>
                    <ul class=" nav nav-tabs mt-4">
                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#home">Comfort</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link ms-3" data-bs-toggle="tab"
                                data-bs-target="#profile">Comfort</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link ms-3" data-bs-toggle="tab"
                                data-bs-target="#contact">Comfort</button>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="home">
                            <p>We offer a meticulously curated collection of the most sought-after luxury vehicles on
                                the market.
                                Whether you prefer the sporty allure of a high-performance sports car, the
                                sophistication of a sleek
                                and luxurious sedan, or the versatility of a premium SUV, we have the perfect car to
                                match your
                                discerning taste.</p>
                        </div>
                        <div class="tab-pane fade" id="profile">
                            <p>We prioritize your comfort and convenience throughout your journey. We understand that a
                                comfortable ride can make a world of difference, whether you're embarking on a business
                                trip or
                                enjoying a leisurely vacation. That's why we offer a wide range of well-maintained,
                                comfortable cars
                                that cater to your specific needs.</p>
                        </div>
                        <div class="tab-pane fade" id="contact">
                            <p>We understand that prestige goes beyond luxury. It's about making a statement, embracing
                                sophistication, and indulging in the finer things in life. That's why we offer an
                                exclusive selection of prestigious cars that exude elegance, style, and status.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-3 ps-5">
                    <h2>Explore the world with comfortable car</h2>
                </div>
                <div class="col-lg-3 pt-5">
                    <h4>First Class Services</h4>
                    <p>Where luxury meets exceptional care, creating unforgettable moments and exceeding your every
                        expectation.</p>
                </div>
                <div class="col-lg-3 pt-5">
                    <h4>First Class Services</h4>
                    <p>Where luxury meets exceptional care, creating unforgettable moments and exceeding your every
                        expectation.</p>
                </div>
                <div class="col-lg-3 pt-5">
                    <h4>First Class Services</h4>
                    <p>Where luxury meets exceptional care, creating unforgettable moments and exceeding your every
                        expectation.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-5">
            <div class="row ">
                <div class="col-lg-4">
                    <img src="/app/static/images/testimonial/1.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-4">
                    <img src="/app/static/images/testimonial/1.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-4">
                    <img src="/app/static/images/testimonial/1.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-5 ">
            <div class="row text-center">
                <div class="col-lg-6 m-auto">
                    <h2>Our Vehicle Fleet</h2>
                    <p>Driving your dreams to reality with an exquisite fleet of versatile vehicles for unforgettable
                        journeys.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- comtain end -->

    <!-- footer -->
    <div class="container pt-5 ps-5 pe-5" style="background-color: black;">
        <div class="row" style="color: aliceblue;">
            <div class="col-lg-3">
                <h4>About Rentaly</h4>
                <p>Where quality meets affordability. We understand the importance of a smooth and enjoyable
                    journey
                    without the burden of excessive costs. That's why we have meticulously crafted our
                    offerings to provide
                    you with top-notch vehicles at minimum expense.</p>
            </div>
            <div class="col-lg-3">
                <h4>Contact Info</h4>
                <span>08 W 36th St, New York, NY 10001</span>
                <span>+1 333 9296</span>
                <span>contact@example.com</span>
                <span>Download Brochure</span>
            </div>
            <div class="col-lg-3">
                <h4>Quick Links</h4>
                <ul style="list-style-type: none;" class="p-0">
                    <li>About</li>
                    <li>Blog</li>
                    <li>About</li>
                    <li>Blog</li>
                    <li>About</li>
                    <li>Blog</li>
                </ul>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <hr style="color: aliceblue;">
        <div class="row" style="color: #f3f1f1;">
            <div class="col-lg-5">
                <p>
                    Copyright 2023 - Rentaly by Designesia
                </p>
            </div>
            <div class="col-lg-5 ms-auto d-flex">
                <p>Terms & Conditions</p>
                <p class="ps-3">Privacy Policy</p>
            </div>
        </div>
    </div>
    <!-- footer end -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>

</html>